*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ========= Fonts ============*/
@font-face {
    font-family: RobotoMed;
    src: url(../Fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(../Fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(../Fonts/Roboto/Roboto-Bold.ttf);
}

/* =============================*/

/* ========== NAVIGATION ===========*/

.logo{
    background-color: #fff5f1;
    border-radius: 20px;
    padding: 10px
}

.logo:hover{
    animation: borderAnimation 2s ease-out;
    cursor: pointer;
}

        /*-------- Logo animation --------*/
        @keyframes borderAnimation{
            0%{
                border-radius: 20px;
                background-color: #fff5f1;
            }
            25%{
                border-radius: 25px;
                background-color: #ffcbb5;
            }
            50%{
                border-radius: 35px;
                background-color: #ffa077;
            }
            75%{
                border-radius: 25px;
                background-color: #ffcbb5;
            }
            100%{
                border-radius: 20px;
                background-color: #fff5f1;
            }
        }
        /*---------------------------------*/

nav{
    font-family: RobotoMed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    padding: 25px;
    background-color: #0c0c0c1c;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 15%;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: rgb(255, 245, 241);
    transition: 0.5s;
}

.nav-links a:hover{
    color: #ffa077;
}

.nav-links .contactButton{
    color: #fc6f32;
}
        /* Contact animation */
        .nav-links .contactButton:after{
            content: '';
            display: inline-block;
            width: 100%;
            border: 1px solid;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0,1);
            transform: scale(0,1);
        }
        .nav-links .contactButton:hover:after{
            opacity: 1;
              -webkit-transform: scale(1);
              transform: scale(1);
          }

.menuBar{
    display: none;
}

    /* Nav-Mobile Compatibility */
    @media(max-width:1366px){
    .nav-links{
        width: 40%;
    }
    }
    @media(max-width:812px){
    }
    /* -----------------------*/

/* =================================*/

/* ============= BODY ==============*/

body{
    background-image: url(../Media/fireWorks.jpg);
    width: 100%;
    height: 150%;
    position: relative;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.showcase{
    font-family: RobotoLight;
    color: #fff5f1;
    padding: 10% 22%;
}

.showcase .name{
    color: #ffa077;
}

.showcase h1{
    padding-bottom: 5px;
}

.showcase h3{
    padding-bottom: 10px;
}

.showcase h1{
    padding-bottom: 5px;
}

.helloWorld{
    display: flex;
}
.helloWorld img{
    width: 35vh;
    position: absolute;
    right: 10%;
    top: 25%;
    box-shadow: 15px 15px #0c0c0c49;
    border: 2px #0c0c0c49 solid;
}

/* =================================*/

